/* Custom CSS */
/*

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

/*  */

:root {
    --mainbackground: #f8fbff;
    --navbar: #BFCBD8;
    --fadedfonts: #6673A7;
    --normalfonts: #364372ed;
    --mainnames: #2a54a2;
    --discovermorebutton: #4475e8f8;

}

html.dark {
    --desktopbackground: linear-gradient(to bottom, #312735, #AD7062, #FBB248, #ffe415);
    --hillback: linear-gradient(to bottom, #423D4F, #110f1b);
    --hillfront: linear-gradient(to bottom, #423D4F, #1a1825);
    --boxborder: #FFF8C6;
    --boxbar: #0F061A;
    --boxwindow: #1C162E;
    --fonts: #FFF8C6;
    --name: #FFC34C;
    --linksborder: #FECB64;
}

/* Mobile First */

body {
    background-color: var(--mainbackground);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: transparent;
    padding: 0;
}

.header-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--mainbackground);
    padding: 20px 20px 0 20px;
    position: relative;
    width: 100%;
}

.themes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
    border: none;
    transition: transform 0.3s ease;
}

.themes img {
    width: 4rem;
    height: auto;
}

.greetings {
    font-size: 1.3rem;
    color: var(--fadedfonts);
    margin-top: 15px;
    margin-bottom: 8px;
}

.main-name {
    font-size: 2.5rem;
    color: var(--mainnames);
    margin-bottom: 1.5rem;
}

.btn-mobile {
    display: inline-block;
    background-color: var(--discovermorebutton);
    color: var(--mainbackground);
    border-radius: 12px;
    padding: 1rem 2rem;
    font-size: 1rem;
}

.first-page {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 280px;
    justify-content: center;
    align-items: center;
}

.first-page img {
    position: relative;
    display: block;
    z-index: 2;
    width: 100%;
    height: auto;
    padding-top: 2.2rem;
}

.circle-bg {
    position: absolute;
    background-color: #6b9fff;
    width: 370px;
    height: 270px;
    bottom: 0;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    z-index: 0;

}

.navbar {
    background-color: var(--navbar);
    padding: 10px 10px;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlist a {
        text-decoration: none;
        color: inherit;
    }

    .logo {
        width: 180px;
    }

    .btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--normalfonts);
    }

    .navlist ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 1.8rem;
        top: 99%;
        left: 0;
        width: 100%;
        background-color: var(--navbar);
        padding: 2.5rem 3rem 2.5rem 4rem;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    }

    .navlist.active ul {
        max-height: 300px;
        opacity: 1;
    }

}

/*Mobile - Main*/

.x-wrapper {
    max-width: 100%;
    overflow-x: hidden;
}

.drawing-division img {
    position: relative;
    width: 100%;
    height: 10vw;
    min-height: 150px;
    max-height: 200px;
    object-fit: contain;
    object-position: bottom;
    display: block;
}

.mbintro {
    margin: none;
    padding: 2rem;
    padding-top: 3rem;
}

.mbabout {
    margin: none;
    padding: 2rem;
    padding-top: 3rem;
}

.mbportfolio {
    margin: none;
    padding: 2rem;
    padding-top: 3rem;
}

.academicbg img {
    position: relative;
    width: 100%;
    height: 10vw;
    min-height: 170px;
    max-height: 200px;
    object-fit: cover;
    object-position: bottom;
    display: block;
}

.mbcontact {
    margin: none;
    padding: 2rem;
    padding-top: 3rem;
}

.subsection {
    padding-bottom: 1.5rem;
}

/*Mobile - Footer*/


/*Desktop (min-width: 992px)*/

@media (min-width: 992px) {

    .x-wrapper {
        max-width: 1140px;
        margin: auto;
    }

    .header-display {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--mainbackground);
        padding: 20px 20px 0 20px;
        position: relative;
        width: 100%;
    }

    .themes {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: none;
        border: none;
        transition: transform 0.3s ease;
    }
    
    .themes img {
        width: 3rem;
        height: auto;
    }

    .greetings {
        font-size: 1rem;
        color: var(--fadedfonts);
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .main-name {
        font-size: 2rem;
        color: var(--mainnames);
        margin-bottom: 1.5rem;
    }

    .btn-mobile {
        display: inline-block;
        background-color: var(--discovermorebutton);
        color: var(--mainbackground);
        border-radius: 12px;
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .first-page {
        display: flex;
        position: relative;
        width: 310px;
        max-width: 310px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .circle-bg {
        opacity: 0;
    }

    .first-page img {
        width: 240px;
        height: auto;
    }

    .navlist ul {
        background-color: var(--navbar);
        opacity: 1;
        transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    }

    .drawing-division img {
        position: relative;
        width: 100%;
        height: 10vw;
        min-height: 400px;
        max-height: 500px;
        object-fit: contain;
        object-position: bottom;
        display: block;
    }

    .academicbg img {
        width: 400px;
        height: 160px;
        padding: 1rem;
        right: 6rem;
        position: relative;
        object-fit: contain;
    }

    .mbintro {
        margin: none;
        padding: 3rem;
        padding-top: 6rem;
    }

    .mbabout {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .mbportfolio {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .academicbg img {
        position: relative;
        width: 100%;
        height: 10vw;
        min-height: 170px;
        max-height: 200px;
        object-fit: contain;
        right: 22rem;
        object-position: bottom;
        display: block;
    }

    .mbcontact {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .subsection {
        padding-bottom: 2.5rem;
    }

}

/* Hidden */

.hidden {
    display: none;
}