/* Custom CSS */
/*
1. Color Variables
2. Mobile First
    2.1 Mobile - Hero Section 
    2.2 Mobile - Navigation Bar
    2.3 Mobile - Main
    2.4 Mobile - Portfolio Art Gallery
3. Tablets and Ipads
    3.1 Mobile - Hero Section 
    3.2 Mobile - Navigation Bar
    3.3 Mobile - Main
    3.4 Mobile - Portfolio Art Gallery
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* 1. Color Variables */

:root {
    --mainbackground: #f8fbff;
    --navbar: #BFCBD8;
    --fadedfonts: #6673A7;
    --normalfonts: #364372ed;
    --titlefonts: #375b91;
    --mainnames: #2a54a2;
    --discovermorebutton: #4475e8f8;
}

/* 2. Mobile First */

body {
    background-color: var(--mainbackground);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: transparent;
    padding: 0;
}

/* 2.1 Mobile - Hero Section */

.header-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--mainbackground);
    padding: 20px 20px 0 20px;
    position: relative;
    width: 100%;
}

.themes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
    border: none;
    transition: transform 0.3s ease;
}

.themes img {
    width: 4rem;
    height: auto;
}

.greetings {
    font-family: "Nunito", sans-serif;
    font-size: 1.3rem;
    color: var(--fadedfonts);
    margin-top: 15px;
    margin-bottom: 8px;
}

.main-name {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    color: var(--mainnames);
    margin-bottom: 1.5rem;
}

.btn-primary {
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    background-color: var(--discovermorebutton);
    color: var(--mainbackground);
    border-radius: 12px;
    padding: 1rem 2rem;
    font-size: 1rem;
}

.first-page {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 280px;
    justify-content: center;
    align-items: center;
}

.first-page img {
    position: relative;
    display: block;
    z-index: 2;
    width: 106%;
    height: auto;
    padding-top: 2.2rem;
}

.circle-bg {
    position: absolute;
    background-color: #6b9fff;
    width: 370px;
    height: 270px;
    bottom: 0;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    z-index: 0;

}

/* 2.2 Mobile - Navigation Bar */

.navbar {
    background-color: var(--navbar);
    padding: 8px 8px;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlist a {
        text-decoration: none;
        color: inherit;
    }

    .logo {
        width: 180px;
    }

    .btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--normalfonts);
    }

    .navlist ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 1.8rem;
        top: 99%;
        left: 0;
        width: 100%;
        background-color: var(--navbar);
        padding: 0 3rem 0 4rem;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
        list-style: none;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;

    }

    .navlist.active ul {
        max-height: 300px;
        opacity: 1;
        padding: 2.5rem 3rem 2.5rem 4rem;
        transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    }

}

/* 2.3 Mobile - Main */

.x-wrapper {
    max-width: 100%;
    overflow-x: hidden;
}

.drawing-division img {
    position: relative;
    width: 100%;
    height: 20vw;
    min-height: 250px;
    max-height: 400px;
    object-fit: contain;
    object-position: bottom;
    display: block;
}

.title {
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 2.3rem;
    color: var(--titlefonts);
}

.paragraphy {
    font-family: "Mulish", sans-serif;
    font-size: 1.2rem;
    color: var(--normalfonts);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: none;
}

.paragraphy-list {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    color: var(--normalfonts);
    padding-top: 1rem;
    margin: none;
}

.mbintro {
    margin: none;
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.mbabout {
    margin: none;
    padding: 2rem;
    padding-top: 6rem;
}

.mbportfolio {
    margin: none;
    padding: 2rem;
    padding-top: 6rem;
}

.academicbg img {
    position: relative;
    width: 100%;
    height: 10vw;
    min-height: 170px;
    max-height: 200px;
    object-fit: contain;
    object-position: left;
    display: block;
}


.academicdate {
    display: inline;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 5rem;
}

.yearperiod {
    background-color: black;
    color: white;
    font-size: 0.70rem;
    padding: 0.4rem 1rem;
}

.academictext {
    display: block;
    padding-top: 1rem;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.universityname {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Nunito';
}

.mbcontact {
    margin: none;
    padding: 2rem;
    padding-top: 3rem;
}

.subsection {
    padding-bottom: 1.5rem;
}

/* 2.4 Mobile - Portfolio Art Gallery */



/*Mobile - Footer*/

/* 3. Tablets and Ipads (min-width: 640px) */

@media (min-width: 640px) {

    /* 3.1 Mobile - Hero Section */

    .x-wrapper {
        max-width: 1140px;
        margin: auto;
    }

    .header-display {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--mainbackground);
        padding: 20px 20px 0 20px;
        position: relative;
        width: 100%;
    }

    .themes {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: none;
        border: none;
        transition: transform 0.3s ease;
    }

    .themes img {
        width: 3rem;
        height: auto;
    }

    .greetings {
        font-size: 1rem;
        color: var(--fadedfonts);
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .main-name {
        font-size: 2rem;
        color: var(--mainnames);
        margin-bottom: 1.5rem;
    }

    .btn-mobile {
        display: inline-block;
        background-color: var(--discovermorebutton);
        color: var(--mainbackground);
        border-radius: 12px;
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .first-page {
        display: flex;
        position: relative;
        width: 310px;
        max-width: 310px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .circle-bg {
        opacity: 1;
    }

    .first-page img {
        width: 315px;
        height: auto;
    }

    /* 3.2 Mobile - Navigation Bar */

    .navbar {
        background-color: var(--navbar);
        padding: 8px 8px;
        position: sticky;
        top: 0;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navlist a {
            text-decoration: none;
            color: inherit;
        }

        .logo {
            width: 180px;
        }

        .btn {
            background: none;
            border: none;
            font-size: 1.5rem;
            color: var(--normalfonts);
        }

        .navlist ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            gap: 1.8rem;
            top: 99%;
            left: 0;
            width: 100%;
            background-color: var(--navbar);
            padding: 0 3rem 0 4rem;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
            list-style: none;
            font-family: 'Nunito', sans-serif;
            font-weight: 600;

        }

        .navlist.active ul {
            max-height: 300px;
            opacity: 1;
            padding: 2.5rem 3rem 2.5rem 4rem;
            transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
        }
    }

    /* 3.3 Mobile - Main */

    .drawing-division img {
        position: relative;
        width: 100%;
        height: 10vw;
        min-height: 230px;
        max-height: 500px;
        object-fit: contain;
        object-position: bottom;
        display: block;
    }

    .academicbg img {
        width: 400px;
        height: 160px;
        padding: 1rem;
        position: relative;
        object-fit: contain;
        object-position: left;
    }

    .mbintro {
        margin: none;
        padding: 3rem;
        padding-top: 6rem;
    }

    .mbabout {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .mbportfolio {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .academicbg img {
        position: relative;
        width: 100%;
        height: 10vw;
        min-height: 170px;
        max-height: 200px;
        object-fit: contain;
        object-position: left;
        display: block;
    }

    .academicdate {
        display: inline;
        gap: 1rem;
        margin-bottom: 1rem;
        width: 5rem;
    }

    .yearperiod {
        background-color: black;
        color: white;
        font-size: 0.70rem;
        padding: 0.5rem 1rem;
    }

    .academictext {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }

    .universityname {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Nunito';
    }

    .mbcontact {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .subsection {
        padding-bottom: 2.5rem;
    }

    /* 3.4 Mobile - Portfolio Art Gallery */



}


/*Desktop (min-width: 992px)*/

@media (min-width: 992px) {

    .x-wrapper {
        max-width: 1140px;
        margin: auto;
    }

    .header-display {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--mainbackground);
        padding: 20px 20px 0 20px;
        position: relative;
        width: 100%;
    }

    .themes {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: none;
        border: none;
        transition: transform 0.3s ease;
    }

    .themes img {
        width: 3rem;
        height: auto;
    }

    .greetings {
        font-size: 1rem;
        color: var(--fadedfonts);
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .main-name {
        font-size: 2rem;
        color: var(--mainnames);
        margin-bottom: 1.5rem;
    }

    .btn-mobile {
        display: inline-block;
        background-color: var(--discovermorebutton);
        color: var(--mainbackground);
        border-radius: 12px;
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .first-page {
        display: flex;
        position: relative;
        width: 310px;
        max-width: 310px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .circle-bg {
        opacity: 0;
    }

    .first-page img {
        width: 285px;
        height: auto;
    }

    .navlist ul {
        display: inline;
        background-color: var(--navbar);
        padding: 1rem;
    }

    .drawing-division img {
        position: relative;
        width: 100%;
        height: 10vw;
        min-height: 300px;
        max-height: 400px;
        object-fit: contain;
        object-position: bottom;
        display: block;
    }


    .academicbg img {
        position: relative;
        width: 100%;
        height: 60vw;
        min-height: 300px;
        max-height: 300px;
        object-fit: contain;
        object-position: left;
        display: block;
    }


    .academicdate {
        display: inline;
        gap: 1rem;
        margin-bottom: 1rem;
        width: 5rem;
    }

    .yearperiod {
        background-color: black;
        color: white;
        font-size: 0.70rem;
        padding: 0.4rem 1rem;
    }

    .academictext {
        display: block;
        padding-top: 9rem;
        font-size: 1.4rem;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
    }

    .universityname {
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Nunito';
        padding-left: 2rem;
    }

    .mbintro {
        margin: none;
        padding: 3rem;
        padding-top: 6rem;
    }

    .mbabout {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .mbportfolio {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .academicbg img {
        position: relative;
        width: 100%;
        height: 10vw;
        min-height: 170px;
        max-height: 200px;
        object-fit: contain;
        right: 22rem;
        object-position: bottom;
        display: block;
    }

    .academicdate {
        display: inline;
        gap: 1rem;
        margin-bottom: 1rem;
        width: 5rem;
    }

    .yearperiod {
        background-color: black;
        color: white;
        font-size: 0.70rem;
        padding: 0.5rem 1rem;
    }

    .academictext {
        display: block;
        padding: 1rem;
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }

    .universityname {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Nunito';
    }

    .mbcontact {
        margin: none;
        padding: 3rem;
        padding-top: 4rem;
    }

    .subsection {
        padding-bottom: 2.5rem;
    }

}

/* Hidden */

.hidden {
    display: none;
}