/* Custom CSS */
/*

*/

* {
    box-sizing: border-box;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

/*  */

:root {
    --mainbackground:#f8fbff;
    --navbar:#aaacb2; 
}

html.dark {
    --desktopbackground: linear-gradient(to bottom, #312735,#AD7062,#FBB248,#ffe415);
    --hillback: linear-gradient(to bottom, #423D4F,#110f1b);
    --hillfront: linear-gradient(to bottom, #423D4F,#1a1825);
    --boxborder: #FFF8C6; 
    --boxbar: #0F061A;
    --boxwindow: #1C162E;
    --fonts: #FFF8C6;
    --name: #FFC34C;
    --linksborder: #FECB64;
}

/* Mobile First */
body{
    background-color: var(--mainbackground);
}

.themes{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    background: none;
    border: none;
    padding: none; 
    transition: transform 0.3s ease;
}

.themes img{
    width: 4em;
    height: auto;
}

/* Hidden */

.hidden {
    display: none;
}