* {
    box-sizing: border-box;
}

/* Background */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(to bottom, #4b99ff,#ffc96c,#fff490);
    min-height: 100vh;
}

.scenery-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.scenery-layer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.clouds-group {
    top: 0;
    height: 50vh;
}

.hill-back {
    position: absolute;
    bottom: 0;
    left: 30%;
    background:linear-gradient(to bottom, #85BB73,#467c32,#285518);
    height: 80vh;
    width: 110%; 
    border-radius: 200% 0% 0% 0% / 170% 0% 0 0%; 
}

.hill-front {
    background:linear-gradient(to bottom, #75c15c,#2f661c);
    right: -4%;
    height: 87vh;
    width: 170%;
    border-radius: 0% 100% 0 0 / 90% 100% 0 0;
}


/* Interface */

.interface-control {
    margin: 0;
    border: 0;
    padding: 10px;
}

.interface-icons {
    position:absolute;
    background: none;
    border: none;
    padding: none; 
    transition: transform 0.3s ease;
}

.interface-icons:hover {
    transform: scale(1.2);
}

.interface-icons img {
    width: 80px;
    height: auto;
}

.theme-button {
    top: 25px;
    left: 75px;
}

.sound-button {
    top: 25px;
    left: 180px;
}

/* Main Desktop */

.home-window {
    width: 850px;
    height: 490px;
    top: 100px;
    left: 85px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 100px 0px 0px 85px; 
    border: solid 4px #46506c;
    box-shadow: 8px 8px 0px rgba(33, 54, 112, 0.15); 
}

.main-window-bar {
    background-color: #1f2538;
    color: white;
    border-bottom: solid 4px #46506c;
    padding: 7px 12px;
    font-family: "Geist Pixel", sans-serif;
    font-size: 20px; 
}

.main-window-box {
    background-color: rgb(255, 255, 255);
    padding: 60px 0px 32px 50px;
    display: flex;
    flex-direction: column;
}

.main-window-box h1 {
    margin-top: 0;
    padding-left: 15px;
    color: #2D3650;
    font-family: "Roboto Mono", monospace;
    font-size: 55px;
}

.main-window-box p {
    margin-top: 0;
    padding-left: 15px;
    color: #2D3650;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

.nome-azul {
    color:#5a83ff;
}

.main-icon-button {
    background: none;
    border: none;
    padding: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 105px;
    font-weight: bold;
    gap: 0px;
    transition: transform 0.5s ease;
}

.main-icon-button:hover {
    transform: scale(1.1);
}

.icon-container {
    display: flex;       
    flex-direction: row; 
    gap: 80px;
    margin-top: 1%;
    margin-left: 2%;
}

.main-icon-button img {
    width: 125px;
    height: auto;
    margin-bottom: 5px;
}

.name-icon {
    margin-top: 0%;
    color: #2D3650;
    font-family: "Geist Pixel", sans-serif;
    font-size: 17px;
}

/* About me */

.about-window {
    width: 820px;
    height: 495px;
    top: 100px;
    left: 85px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 100px 0px 0px 85px; 
    border: solid 4px #46506c;
    z-index: 10;
}

.about-window-bar {
    background-color: #1f2538;
    color: white;
    display: flex;
    flex-shrink: 0;
    border-bottom: solid 4px #46506c;
    padding: 7px 12px;
    font-family: "Geist Pixel", sans-serif;
    font-size: 20px; 
}

.about-window-box {
    background-color: rgb(255, 255, 255);
    padding: 60px 50px 32px 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.about-window-box h2 {
    margin-top: 0;
    padding-left: 15px;
    color: #2D3650;
    font-family: "Roboto Mono", monospace;
    font-size: 55px;
}

.about-window-box p {
    margin-top: 0;
    padding-left: 15px;
    color: #2D3650;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

/* Close Button */

.close-window-button {
    color:white;
    background: none;
    margin-left: auto;
    border: none;
    padding: 0px 0px;
    font-family: "Roboto Mono", monospace;
    font-size:20px;
    transition: transform 0.3s ease;
}

.close-window-button:hover {
    transform: scale(1.2);
}

/* Close Button */

.close-window-button {
    color:white;
    background: none;
    margin-left: auto;
    border: none;
    padding: 0px 0px;
    font-family: "Roboto Mono", monospace;
    font-size:20px;
    transition: transform 0.3s ease;
}

.close-window-button:hover {
    transform: scale(1.2);
}

/* Hidden for now */

.hidden {
    display: none;
}
