/* Background */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(to bottom, #5e8cff,#ffe57b);
    min-height: 100vh;
}

/* Interface */

.interface-control {
    margin: 0;
    border: 0;
    padding: 10px;
}

.png-icons {
    position:absolute;
    background: none;
    border: none;
    padding: none;
    cursor: pointer;
}

.png-icons img {
    width: 75px;
    height: auto;
}

#theme-button {
    top: 25px;
    left: 30px;
}

#sound-button {
    top: 25px;
    left: 125px;
}

/* Main Desktop */

.home-window {
    width: 840px;
    height:470px;
    margin: 100px 0px 0px 45px; 
    border: 4px solid #2D3650; 
    box-shadow: 8px 8px 0px rgba(33, 54, 112, 0.15); 
}

.window-bar {
    background-color: #1f2538;
    color: white;
    padding: 7px 12px;
    font-family: "Geist Pixel", sans-serif;
    font-size: 20px;
    border-bottom: 5px solid #2D3650; 
}

.window-box {
    background-color: rgb(201, 230, 255);
    padding: 60px 0px 89px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window-box h1 {
    margin-top: 0;
    color: #2D3650;
    font-family: "Roboto Mono", monospace;
    font-size: 45px;
}

.window-box p {
    margin-top: 0;
    color: #2D3650;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

.main-icon-button {
    background: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    font-weight: bold;
    color: #2D3650;
    gap: 20px; 
}

.icon-container {
    display: flex;       
    flex-direction: row; 
    gap: 20px;
    margin-top: 40px;
}

.main-icon-button img {
    width: 50px;
    height: auto;
    margin-bottom: 5px;
    background-color: #ccc; 
}

/* Hidden for now */

.hidden {
    display: none;
}
